<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../../partials/head %>
</head>

<body>
  <% if (user) { %>
  <h1>Hello <%= user.name %> !</h1>
  <p>Vous avez <%= user.age %> ans :/ Bientôt la mort !</p>
  <% } else { %>
  <h1>Utilisateur introuvable...</h1>
  <% } %>
</body>

</html>