<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../../partials/head %>
</head>

<body>
  <% if (users) { %>
  <% for (let i = 0; i < users.length; i++) { %>
    <h3><%= users[i].name %></h3>
  <% } %>
  <% } else { %>
    <h3>Erreur lors de la requete...</h3>
  <% } %>
</body>

</html>